@import '~bootstrap/scss/bootstrap';
@import './partials/show.scss';


// LOGIN
.card-header{
    background-color: white;
}

.custom-checkbox{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.custom-checkbox:focus{
    box-shadow: none;
    border-color: black;
}

.custom-check:focus{
    background-color: black;
}

.title-login{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


// LOGIN CARD SIZE


@media screen and (max-width:768px) {
    .card-login{
        min-width: 400px;
        max-width: 100%;
    }
}

@media screen and (min-width:768px){
    .card-login{
        min-width: 350px;
        max-width: 516px;
    }
}

// @media screen and (min-width:1200px) {
//     .card-login{
//         min-width: 700px;
//         max-width: 1200px;
//     }
// }





