@import '~bootstrap/scss/bootstrap';
@import './partials/show';

// GENERAL

body {
    font-family: 'Figtree', sans-serif;
}

p {
    font-size: 12px;
    margin: 0;
}

// LOGIN
.card-header{
    background-color: white;
}

.custom-checkbox{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.custom-checkbox:focus{
    box-shadow: none;
    border-color: black;
}

.custom-check:focus{
    background-color: black;
}

.title-login{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


// LOGIN CARD SIZE

@media screen and (max-width:768px) {
    .card-login{
        min-width: 400px;
        max-width: 100%;
    }
}

@media screen and (min-width:768px){
    .card-login{
        min-width: 350px;
        max-width: 516px;
    }
}

// UTILITY

.single-line-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Aggiunge i puntini di sospensione */
}

.form-floating > .left-initial{
    left: initial;
}

// APARTMENT LIST

.card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}




