@import "~bootstrap/scss/bootstrap";
@import "./partials/variables";
@import "./partials/utility";
@import "./partials/checkbox";
@import "./partials/apartmentList";
@import "./partials/show";
// GENERAL

body {
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

// LOGIN
.card-header {
    background-color: white;
}

.custom-checkbox {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.custom-checkbox:focus {
    box-shadow: none;
    border-color: $secondaryColor;
}

.custom-check:focus {
    background-color: $secondaryColor;
    border: 1px solid $secondaryColor;
}

.btn-custom-log {
    background-color: $primaryColor;
    color: white;
    border: 0;
    &:hover{
        background-color: rgba($color: $secondaryColor, $alpha: 0.9);
        color: white;
    }
}

// HEADER

nav {
    .logo-header {
        width: 120px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;

        li {
            margin: 0;
            padding: 0;


        }

        .dropdown-menu {
            a {
                width: 100%;
                margin: 0;
                padding-left: 10px !important;
            }
            a:hover {
                border-radius: 3px;
                border: 0;
            }
        }

        .dropdown {
            a {
                padding-left: 10px !important;
                padding-right: 10px !important ;
            }
            a:hover {
                border-radius: 5px;
            }
        }

        .dropdown-item:active {
            color: var(--bs-dropdown-link-active-color);
            text-decoration: none;
            background-color:  $primaryColor;
          }
    }


    .user-name {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $primaryColor;
        color: white !important;

        &:hover, &.show {
            color: white !important;

        }
    }

    .user-guest {
        padding: 9px 13px 9px 10px;
        background-color: $primaryColor;
        border-radius: 5px;
        color: white !important;

        &:hover{
          color: white !important;
        }
    }
}

// SWITCH VISIBLE NON VISIBLE

.form-check-input:checked{
    border-color: $primaryColor;
    background-color: $primaryColor;
}
.form-check-input:focus{
    border-color:  $primaryColor;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($primaryColor, 0.25);
}
// .form-switch .form-check-input:focus {
//    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%38761dfe'/></svg>");
// }
// LOGIN CARD SIZE

@media screen and (max-width: 576px) {
    .card-login {
        width: 100%;
        max-width: 100%;
    }
}


@media screen and (min-width: 576px) {
    .card-login {
        min-width: 350px;
        max-width: 551px;
    }
}


// APARTMENT LIST
.apartment-list {
    .card {
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.2s;
    }

    .card:hover {
        transform: scale(1.03);
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

// SERVIZI

.badge-custom {
    border: 0.5px solid black;
    color: black;
    background-color: transparent;
}

.badge-custom:hover {
    border-color: $primaryColor;
    color: $primaryColor;
    background-color: transparent;
}

.badge-custom:active {
    border-color: $primaryColor;
    color: $primaryColor;
    background-color: transparent;
}

.btn-check:checked + .btn {
    background-color: $primaryColor;
    color: white;
}

.btn-check:active + .btn {
    background-color: $primaryColor;
    color: white;
}

.btn-check:hover + .btn {
    background-color: $primaryColor;
    color: white;
}

.pageNotFound {
    a {
        color: $primaryColor;
        border-color: $primaryColor;
        &:hover {
            background-color: $primaryColor;
            color: white;
            border-color: white;
        }
    }
}
// MESSAGGIO ELIMINARE APPARTAMENTO
.custom-messaggio-delete {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.messaggio-eliminare {
    padding: 30px 15px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .text-messaggio-elimina {
        font-size: 12px;
    }
}

.btn-elimina-appartamento {
    border: 1px solid $primaryColor;
    margin: 15px 10px 0 10px;
    padding: 4px 14px;
}

.btn-elimina-appartamento:hover {
    background-color: $primaryColor;
    color: white;
}

.create-edit-apartment {
    #list-search {
        position: absolute;
        z-index: 3;
        top: 100%;
        width: 100%;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}


.show-apartment {
    .card-header {
        i {
            color: $primaryColor;
        }
    }

    .list-message {
        height: 250px;

        p {
            cursor: pointer;

        }
    }

    .title {
        i {
            color: $primaryColor;
        }
    }
}

// PAGAMENTI BUTTON LOADING

#loading-button{
    background-color: $primaryColor;

}



