.show-apartment {

    .badge-sponsor-bottom-big{
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    }

    .container-sponsor {
        margin-top: 32px;
    }

    .card-header,
    .title {
        i {
            color: #10d1a0;
        }
    }

}
