// UTILITY

.custom-btn-primary {
    color: rgba(0, 0, 0, 0.822);
    padding: 5px 0px !important;
    margin: 0 10px;
    font-size: medium;

    &.active {
        background-color: transparent;
        color: black;
        border-radius: 0;
        box-shadow: 0 2px 0 0 $primaryColor;
    }

    &:hover {
        color: black;
        box-shadow: 0 2px 0 0 $primaryColor;
        border-radius: 0px;
    }
}

.single-line-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Aggiunge i puntini di sospensione */
}

.form-floating > .left-initial {
    left: initial;
}

.cursor-pointer {
    cursor: pointer;
}

.badge-sponsor-bottom-big{
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.line-bar-text {
    &::before {
        content: "" !important;
        display: block !important;
        width: 100% !important;
        height: 1px !important;
        background-color: rgb(221, 221, 221) !important;
        margin-right: 16px !important;
    }
    &::after {
        content: "" !important;
        display: block !important;
        width: 100% !important;
        height: 1px !important;
        background-color: rgb(221, 221, 221) !important;
        margin-left: 16px !important;
    }
}
